<!-- TOP PANEL WITH USER INFORMATION AND GRAPHS -->
<div class="top-panel">
	<div class="row">
		<div class="small-2 columns">
			<div class="top-left-panel">
				<%= image_tag(@user.avatar) %>
			</div>
		</div>
		<div class="small-3 columns">
			<div class="top-right-panel">
				<div class="panel-header">
					<h3><i class="fa fa-user"></i>
						<% if @user.name != nil then %>
						<%= @user.name.split(" ").first %> <span class="last-name"><%= @user.name.split(" ").last %></span>
						<% else %>
						<%= params[:user_name] %>
						<% end %>
					</h3>
				</div>
				<div class="panel-content">
					<p><i class="fa fa-envelope"></i><span class="text"><%= @user.email || "email unavailable" %></span></p>
					<p><i class="fa fa-briefcase"></i><span class="text"><%= @user.company || "company unavailable" %></span></p>
					<p><i class="fa fa-globe"></i><span class="text"><%= @user.location || "location unavailable" %></span></p>
				</div>
				<div class="panel-footer">
					<p><i class="fa fa-github"></i><span class="text"><%= link_to "GitHub", @github %></span></p>
					<p><i class="fa fa-linkedin-square"></i><span class="text">LinkedIn</span></p>
					<p><i class="fa fa-twitter"></i><span class="text">Twitter</span></p>
				</div>
			</div>
		</div>
		<div class="small-7 columns">
			<div class="row">
				<div class="small-6 columns">
					<h3 class="chart-header linechart-header">Recent Activity</h3>
					<canvas id="line-chart" height="122"></canvas>
				</div>
				<div class="small-6 columns">
					<h3 class="chart-header barchart-header">Top Languages</h3>
					<canvas id="bar-chart" height="122"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content-panel">
<div class="row">
	<div class="large-12 columns">

			<label>Last Updated on:</label>
			<p><%= @repository.update_date %></p>

			<%= form_tag("/#{params[:user_name]}/#{params[:repo_id]}", method: 'put') do %>
				<h5>Description</h5>
				<p>By default, the description of your project is pulled from GitHub. Editting the description here will not override GitHub's description, but will be persisted in Gittofolio's database for what is returned in the API call.</p>
				<%= text_area_tag :description, @repository.description, :class => 'repo-textarea' %>
				<%= submit_tag 'Update Description', :class => 'button tiny' %>
			<% end %>

			<%= form_for @screenshot do |f| %>
				<%= f.label :image %>
				<%= f.file_field :image %>
				<%= f.submit 'Upload Screenshot', :class => 'button tiny' %>
			<% end %>
			
	</div>
</div>
</div>