<div class="row m-top-30">
	
	<div class="large-12 columns">
		<h1 class="user-header">API Settings for <%= current_user.name %></h1>
	</div>

	<!-- WEBSITES -->
	<div class="large-12 columns">
		<h4 class="settings-header">Your websites</h4>
		<div class="add-website-block">
			<%= form_for @website do |f| %>
			<div class="row collapse">
				<div class="small-10 columns"><%= f.text_field :url, :placeholder => 'Enter your website url here. (example: http://sample.com/)' %></div>
				<div class="small-2 columns"><%= f.submit 'Add website', :class => 'button postfix' %></div>
			</div>
			<% end %>
		</div>
		<table width="100%">
			<thead>
				<tr>
					<th width="70%">URL</th>
					<th width="10%" class="text-center">Calls</th>
					<th width="20%" class="text-center">Updated</th>
				</tr>
			</thead>
			<tbody>
			<% if @websites.any? %>
				<% @websites.each do |site| %>
					<tr>
						<td width="70%"><%= site.url %></td>
						<td width="10%" class="text-center"><%= site.call_count || '0' %></td>
						<td width="20%" class="text-center"><%= site.updated_at.to_date %></td>
					</tr>
				<% end %>
			<% else %>
				<tr>
					<td colspan="3" class="text-center">You have no registered websites.</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>

	<!-- REPOS -->
	<div class="large-12 columns">
		<h4 class="settings-header">Configure your repositories</h4>
		<p class="panel m-bottom-15">This section allows you to choose which repositories to return when <code>/api/repositories</code> endpoint is called from your website. Each repository is currently allowed one screenshot to be uploaded (saved to Amazon S3), where the image url will be returned in the response of the API call.</p>
		<table width="100%">
			<thead>
				<tr>
					<th>Repository</th>
					<th class="text-center">Display</th>
					<th class="text-center">Image</th>
					<th class="text-center">Updated</th>
				</tr>
			</thead>
			<tbody>
			<% @repositories.each do |repository| %>
				<tr>
					<td width="60%"><%= repository.name %></td>
					<td width="10%" class="text-center">
						<div class="switch tiny display-switch">
						  <input id="<%= repository.id %>" type="checkbox" <%= 'checked' if repository.display %> name="display-switch">
						  <label for="<%= repository.id %>"></label>	
						</div>
					</td>
					<td width="10%" class="text-center">
						<% if repository.screenshots.any? %>
							<span id="image-ok">OK</span>
						<% else %>
							<a href="#" data-reveal-id="add-ss-modal-<%= repository.id %>">Add</a>
							<div id="add-ss-modal-<%= repository.id %>" class="reveal-modal tiny" data-reveal>
							  <h3>Add screenshot for <%= repository.name %></h3>
							  <%= form_for repository.screenshots.new do |f| %>
							  	<%= f.file_field :image %>
							  	<%= f.submit 'Upload Screenshot', :class => 'button tiny' %>
							  <% end %>
							  <a class="close-reveal-modal">&#215;</a>
							</div>
						<% end %>
					</td>
					<td width="20%" class="text-center"><%= repository.update_date %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>

</div>