<div class="row m-top-30">
	<div class="medium-3 columns">
		<div class="user-photo m-bottom-15">
			<%= image_tag(@user.avatar, width: 150) %>
		</div>
		<div class="general-info">
			<h5><%= @user.name || @user.login %></h5>
			<p>Projects: <%= @user.repositories.size %></p>
			<p>Active Projects: <%= @user.active_repositories.size %></p>
			<p>Registered Websites: <%= @user.registered_websites.size %></p>
		</div>
	</div>
	<div class="medium-9 columns">
		<div class="block">
			<h4>Registered Websites<small> ( <a href="#" data-reveal-id="newWebsite">Add new website</a> )</small></h4>
			<table width="100%">
				<tbody>
					<tr>
						<th width="60%">URL</th>
						<th width="20%">Calls</th>
						<th width="20%">Last Request</th>
					</tr>
					<% if @user.registered_websites.any? %>
						<% @user.registered_websites.each do |site| %>
							<tr>
								<td><%= site.url %></td>
								<td><%= site.call_count || '0' %></td>
								<td><%= site.updated_at.to_date %></td>
							</tr>
						<% end %>
					<% else %>
						<tr>
							<td colspan="3" class="text-center">You have no registered websites</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="block">
			<h4>Projects</h4>
			<table width="100%">
				<tbody>
					<tr>
						<th width="50%">Name</th>
						<th class="text-center">Active</th>
						<th class="text-center">Screenshot</th>
						<th class="text-center">Description</th>
						<th class="text-center">Updated</th>
					</tr>
					<% if @user.repositories.any? %>
						<% @repos.each do |repo| %>
							<tr>
								<td class="<%= 'highlight' if repo.display %>"><a href="#" data-reveal-id="repoModal_<%= repo.repo_id %>"><%= repo.name %></a></td>
								<td class="text-center"><%= repo.display ? 'Yes' : 'No' %></td>
								<td class="text-center"><%= repo.screenshots.any? ? 'Yes' : 'No' %></td>
								<td class="text-center"><%= repo.description.present? ? 'Yes' : 'No' %></td>
								<td class="text-center"><%= repo.update_date %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% @repos.each do |repo| %>
<div id="repoModal_<%= repo.repo_id %>" class="reveal-modal" data-reveal>
	<h4>Edit <%= repo.name %></h4>
	<%= form_for repo do |f| %>
	<div class="row">
		<div class="medium-6 columns">
			<%= f.label :name %>
			<%= f.text_field :name, disabled: true %>
			<%= f.label :description %>
			<%= f.text_area :description, class: 'modal-description' %>
		</div>
		<div class="medium-6 columns">
			<%= f.fields_for :screenshots do |r| %>
				<%= r.label 'Screenshot' %>
				<% if repo.screenshots.any? %>
					<%= image_tag(repo.screenshots.first.file, class: 'm-bottom-5') %>
				<% else %>
					<%= image_tag('http://placehold.it/1280x800', class: 'm-bottom-5') %>
				<% end %>
				<%= r.file_field :image %>
				<%= r.hidden_field :repository_id, :value => repo.id %>
			<% end %>
		</div>
	</div>
		<%= f.submit 'Update ' + repo.name, :class => 'button expand small' %>
	<% end %>
</div>
<% end %>

<div id="newWebsite" class="reveal-modal" data-reveal>
	<h4>Register a new website</h4>
	<%= form_for @website do |f| %>
		<div class="row collapse">
			<div class="small-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="small-8 columns">
				<%= f.text_field :url %>
			</div>
			<div class="small-2 columns">
				<%= f.submit 'Add', class: 'button postfix' %>
			</div>
		</div>
	<% end %>
</div>