<div class="small-12 columns">

	<div class="logged_in">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<div class="search_box">
			<p class="direction">Enter a username or full name to start your search</p>
			<%= form_tag search_path, method: "get" do %>
			<%= text_field_tag :q, params[:q] %>
			<%= submit_tag("Show Me", :class => "button") %>
			<% end %>
		</div>
	</div>

</div>
