<div class="small-12 columns">
		
		<% if session[:github_access_token] == nil %>
			<div class="welcome text-center">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<%= image_tag("logo.png", width: "400") %>
				<h4>Because my eyes get tired looking at Github</h4>
				<p>A better way to show off your Github projects.</p>
				<a href="https://github.com/login/oauth/authorize?client_id=<%= ENV['GITHUB_CLIENT_ID'] %>" class="button">Log in with Github</a>
			</div>
		<% else %>
			<div class="logged_in">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<div class="panel callout">
					<p class="direction">Enter a username or full name to start your search</p>
					<%= form_tag search_path, method: "get" do %>
						<%= text_field_tag :q, params[:q] %>
						<%= submit_tag("Show Me") %>
					<% end %>
				</div>
			</div>
		<% end %>

</div>