<%= render 'header' %>

<div class="row">
	<div class="row-content">
		<div class="column twelve search_results">
			<h3 class="search_resulits_h3">Search Results</h3>
			<div class="show_results">
				<% @users["users"].each do |result| %>
					<a href="<%= "/#{result["username"]}" %>">
						<div class="each_result">
							<img src="http://www.gravatar.com/avatar/<%= result["gravatar_id"] %>?s=196" class="result_avatar">
							<table>
								<tr><td class="table_right">Username:</td><td><%= result["username"] %></td></tr>
								<tr><td class="table_right">Name:</td><td><%= result["fullname"] %></td></tr>
								<tr><td class="table_right">Location:</td><td><%= result["location"] %></td></tr>
							</table>
						</div>
					</a>
				<% end %>
			</div>
		</div>
	</div>
</div>