<div class="row">
	<div class="row-content">
		<div class="column twelve main_content">
			<h2 class="repo_name"><%= params[:repo_name] %></h2>

			<% if @homepage[:homepage] != "not_available" %>
				<img class="screenshot" src="http://s.wordpress.com/mshots/v1/<%= "#{@homepage[:homepage].to_s}" %>?w=1200">
			<% end %>
			
			<div class="column twelve display_repo_content" id="files">
				
				<ul class="breadcrumb">
					<li><%= link_to "#{params[:repo_name]}", "/#{params[:user_name]}" %></li>
					<% @breadcrumb.each do |crumb| %>
						<li>></li>
						<% if "/#{params[:user_name]}/#{params[:repo_name]}/#{ @breadcrumb.take_while { |a| @breadcrumb.index(a) != @breadcrumb.index(crumb)+1 }.join("/") }#files" != "/#{params[:user_name]}/#{params[:repo_name]}/#{params[:repo_directory]}#files" %>
							<li><%= link_to "#{crumb}", "/#{params[:user_name]}/#{params[:repo_name]}/#{ @breadcrumb.take_while { |a| @breadcrumb.index(a) != @breadcrumb.index(crumb)+1 }.join("/") }#files" %></li>
						<% else %>
							<li><%= crumb %></li>
						<% end %>
					<% end %>
				</ul>

				<% @data.each do |file| %>
					<% if file[:type] == "file" then %>

						<%=raw '<a href="' + "##{file[:name].downcase.gsub('.','')}" + '" rel="leanModal">' %>

							<div class="repo_file">
								<div class="file_box"><%= if File.extname("#{file[:name]}") != "" then File.extname("#{file[:name]}").gsub('.','') else "txt" end %></div>
								<h4><%= file[:name] %></h4>
							</div>
						
						<%=raw '</a>' %>

					<% else %>

						<a href="<%= "/#{params[:user_name]}/#{params[:repo_name]}/#{file[:path]}" %>#files">
							<div class="repo_directory">
								<div class="directory_box">dir</div>
								<h4><%= file[:name] %></h4>
							</div>
						</a>

					<% end %>
				<% end %>

			</div>

			
			<% @data.each do |readme| %>
				<% if readme[:name].downcase.include?("readme") %>
					<div class="column twelve display_readme">
						<div class="show_readme"><%=raw GitHub::Markup.render(readme[:name], Base64.decode64(readme.rels[:self].get.data[:content])) %></div>
					</div>
				<% end %>
			<% end %>

		</div>
	</div>
</div>

<% @data.each do |file| %>
	<% if file[:type] == "file" then %>
		
		<%=raw '<div id="' + "#{file[:name].downcase.gsub('.','')}" + '" class="hide_content show_content">' %>
				<h2><%= file[:name] %></h2>
				<pre><%= Base64.decode64(file.rels[:self].get.data[:content]) %></pre>
		<%=raw '</div>' %>

	<% end %>
<% end %>