<%= render 'header' %>

<div class="row">
	<div class="row-content">
			<h3 class="repo_name"><%= params[:repo_name] %></h3>
			
			<% if @homepage[:homepage] != "not_available" %>
				<img class="screenshot" src="http://s.wordpress.com/mshots/v1/<%= "#{@homepage[:homepage].to_s}" %>?w=1200">
			<% end %>
			
			<div class="column twelve display_repo_content" id="files">

				<% @data.each do |file| %>
					<% if file[:type] == "file" then %>

						<%=raw '<a href="' + "##{file[:name].downcase.gsub('.','')}" + '" rel="leanModal">' %>

							<div class="repo_file">
								<div class="file_box"><%= if File.extname("#{file[:name]}") != "" then File.extname("#{file[:name]}").gsub('.','') else "txt" end %></div>
								<h4 class="file_name"><%= file[:name] %></h4>
							</div>
						
						<%=raw '</a>' %>

					<% else %>

						<a href="<%= "/#{params[:user_name]}/#{params[:repo_name]}/#{file[:path].gsub('/','_')}" %>#files">
							<div class="repo_directory">
								<div class="directory_box">dir</div>
								<h4 class="file_name"><%= file[:name] %></h4>
							</div>
						</a>

					<% end %>
				<% end %>

			</div>

			
			<% @data.each do |readme| %>
				<% if readme[:name].downcase.include?("readme") %>
					<div class="column twelve display_readme">
						<div class="show_readme"><%=raw GitHub::Markup.render(readme[:name], Base64.decode64(readme.rels[:self].get.data[:content])) %></div>
					</div>
				<% end %>
			<% end %>

	</div>
</div>

<% @data.each do |file| %>
	<% if file[:type] == "file" then %>
		
		<%=raw '<div id="' + "#{file[:name].downcase.gsub('.','')}" + '" class="hide_content show_content">' %>
				<h2><%= file[:name] %></h2>
				<pre><%= Base64.decode64(file.rels[:self].get.data[:content]) %></pre>
		<%=raw '</div>' %>

	<% end %>
<% end %>


<%= render 'footer' %>