<%= render 'header' %>

<div class="row user_window">
	<div class="row-content">
		<div class="column four">
			<p>First column</p>
		</div>
		<div class="column third">
			<%= image_tag("http://www.gravatar.com/avatar/#{@repositories.first[:avatar]}?s=300", :class => "avatar") %>
		</div>
		<div class="column four last">
			<canvas id="languagepie" width="300" height="300"></canvas>
			<ul class="color_ref">
				
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="row">
	<div class="row-content">
		<div class="column twelve">
		<% @languages.each do |language| %>
				<h3 class=><%= language %></h3>
				<div id="container" class="column twelve js-masonry" data-masonry-options='{"columnWidth": 200,"itemSelector": ".item", "gutter": 10, "isFitWidth": "True"}'>
				<% @repositories.each do |repo| %>
					<% if repo[:language] == language %>
						<figure class="item cap-bot">
							<%= link_to image_tag("place_holder.png") %>
							<figcaption>
								<h3><%= repo[:name] %></h3>
								<p><%= repo[:description] %></p>
							</figcaption>
						</figure>
					<% end %>
				<% end %>
				</div>
				<div class="clear"></div>
		<% end %>
		</div>
	</div>
</div>

<%= javascript_tag do %>
	var data = <%=raw @pie_data.each { |data| puts data }.to_s.gsub('"', '') %>;
	var myDoughnut = new Chart(document.getElementById("languagepie").getContext("2d")).Doughnut(data);
<% end %>