<div class="small-12 columns">

	<div class="row collapse user_window">
		<div class="large-4 columns user_avatar">
			<%= image_tag("http://www.gravatar.com/avatar/#{@repositories.first[:avatar]}?s=300", :class => "avatar th") %>
		</div>
		<div class="large-4 columns">
			<ul data-pie-id="pie_chart">
				<%= pie_chart(@pie_data, :id => "pie_chart",:library => {:backgroundColor => "#f5f5f5",:chartArea => {:width => "100%"}}) %>
			</ul>
		</div>
		<div class="large-4 columns">
			<ul data-pie-id="pie_chart2">
				<%= pie_chart(@pie_data, :id => "pie_chart2",:library => {:backgroundColor => "#f5f5f5",:chartArea => {:width => "100%"}}) %>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">

			<ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-5">
				<% @repositories.each do |filter| %>
						<li>
							<div class="each_repo">
								<a href='<%= "/#{params[:user_name]}/#{filter[:name]}" %>'>
									<% if filter[:homepage] != "not_available" then %>
										<img src="<%= "http://s.wordpress.com/mshots/v1/#{filter[:homepage].to_s}?w=300" %>">
									<% else %>
										<%= image_tag("index_placeholder.png", :width => 300) %>
									<% end %>
								</a>
								<p><%= if filter[:name].size > 17 then filter[:name][0,17] + "..." else filter[:name] end %></p>
							</div>
						</li>
				<% end %>
			</ul>

		</div>
	</div>

</div>