<div class="small-12 columns">

	<div class="row user_window">
		<div class="small-3 large-3 columns user_avatar">
			<div class="avatar_box shadow"><%= image_tag("http://www.gravatar.com/avatar/#{@repositories.first[:avatar]}?s=300", :class => "avatar") %></div>
		</div>
		<div class="small-9 large-9 columns">
			<div class="row collapse">
				<div class="small-12 columns">
					<div class="info_box shadow">

					</div>
				</div>
			</div>
			<div class="row top_padding">
				<div class="large-6 columns">
					<h6><i class="fa fa-fire"></i>Recent Activity</h6>
					<ul data-pie-id="line_chart" class="line_chart shadow">
						<%= line_chart(@line_chart, :id => "line_chart", :height => "190px", :library => {:backgroundColor => "#f9f9f9", :chartArea => {:width => "90%"}, :vAxis => {:textStyle => {:fontSize => 10}, :textPosition => "in"}, :hAxis => {:textStyle => {:fontSize => 10}, :format => 'M/d'}}) %>
					</ul>
				</div>
				<div class="large-6 columns">
					<h6><i class="fa fa-bar-chart-o"></i>Language Composition</h6>
					<ul data-pie-id="pie_chart" class="pie_chart shadow">
						<%= pie_chart(@pie_data, :id => "pie_chart", :height => "190px", :library => {:colors => @pie_colors, :backgroundColor => "#f9f9f9", :chartArea => {:width => "90%"}}) %>
					</ul>
				</div>
			</div>	
		</div>
	</div>

	<div class="row top_padding">
		<div class="small-12 columns top_padding">
			<div class="border_bottom"><h6><i class="fa fa-leaf"></i>Repositories</h6></div>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
				<% @repositories.each do |filter| %>
						<li>
							<div class="each_repo shadow">
								<a href='<%= "/#{params[:user_name]}/#{filter[:name]}" %>'>
									<% if filter[:homepage] != "not_available" then %>
										<img src="<%= "http://s.wordpress.com/mshots/v1/#{filter[:homepage].to_s}?w=300" %>">
									<% else %>
										<%= image_tag("index_placeholder.png", :width => 300) %>
									<% end %>
								</a>
								<p>
									<i class="fa fa-github"></i><%= if filter[:name].size > 16 then filter[:name][0,16] + "..." else filter[:name] end %><br />
									<span class="updated_at"><i class="fa fa-calendar"></i><%= l filter[:update_date], format: :long %></span>
								</p>
							</div>
						</li>
				<% end %>
			</ul>

		</div>
	</div>

</div>