<%= render 'header' %>

<div class="row user_window">
	<div class="row-content">
		<div class="column four">
			<p>First column</p>
		</div>
		<div class="column third">
			<%= image_tag("http://www.gravatar.com/avatar/#{@repositories.first[:avatar]}?s=300", :class => "avatar") %>
		</div>
		<div class="column four last">
			<canvas id="languagepie" class="language_pie" width="300" height="300"></canvas>
			<div id="container" class="js-masonry center" data-masonry-options='{"itemSelector": ".color_each", "gutter": 10, "isFitWidth": "True"}'>
				<% @label.each do |label| %>
					<td><%=raw '<div class="color_each column" style="background-color:#' + "#{label.last}" + ';">' + "#{label.first}" + '</div>' %></td>
				<% end %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="row">
	<div class="row-content">
		<div class="column twelve">
		<% @languages.each do |language| %>
				<h3 class=><%= language %></h3>
				<div id="container" class="column twelve js-masonry" data-masonry-options='{"columnWidth": 200,"itemSelector": ".item", "gutter": 10, "isFitWidth": "True"}'>
				<% @repositories.each do |repo| %>
					<% if repo[:language] == language %>
						<%= link_to("/#{params[:user_name]}/#{repo[:name]}") do %>
							<figure class="item cap-bot">
								<%= image_tag("place_holder.png") %>
								<figcaption>
									<h3 class="repo_list"><%= repo[:name] %></h3>
									<p><%= repo[:description] %></p>
								</figcaption>
							</figure>
						<% end %>
					<% end %>
				<% end %>
				</div>
				<div class="clear"></div>
		<% end %>
		</div>
	</div>
</div>

<%= render 'footer' %>

<%= javascript_tag do %>
	var data = <%=raw @pie_data.each { |data| puts data }.to_s.gsub('"', '') %>;
	var myDoughnut = new Chart(document.getElementById("languagepie").getContext("2d")).Doughnut(data);
<% end %>