<%= render 'header' %>

<div class="row user_window">
	<div class="row-content buffer even">
		<div class="column four">
			<p>First column</p>
		</div>
		<div class="column third">
			<%= image_tag("http://www.gravatar.com/avatar/#{@repositories.first[:avatar]}?s=250", :class => "avatar") %>
		</div>
		<div class="column four last">
			<canvas id="languagepie" width="250" height="250"></canvas>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="row">
	<div class="row-content">
		<div class="column twelve">
		<% @languages.each do |language| %>
				<h3 class=><%= language %></h3>
				<div id="container" class="column twelve js-masonry" data-masonry-options='{"columnWidth": 200,"itemSelector": ".item", "gutter": 10, "isFitWidth": "True"}'>
				<% @repositories.each do |repo| %>
					<% if repo[:language] == language %>
						<div class="item">
						<p><%= repo[:name] %><br />
						<%= repo[:description] %></p>
						</div>
					<% end %>
				<% end %>
				</div>
				<div class="clear"></div>
		<% end %>
		</div>
	</div>
</div>

<%= javascript_tag do %>
	var data = <%=raw @pie_data.each { |data| puts data }.to_s.gsub('"', '') %>;
	var myDoughnut = new Chart(document.getElementById("languagepie").getContext("2d")).Doughnut(data);
<% end %>