<%= render 'header' %>

<div class="row user_window">
	<div class="row-content">
		<div class="column four">
			<p>Location: <%= @location %></p>
		</div>
		<div class="column third">
			<%= image_tag("http://www.gravatar.com/avatar/#{@repositories.first[:avatar]}?s=300", :class => "avatar") %>
		</div>
		<div class="column four last">
			<div class="pie_wrap">
			<canvas id="languagepie" class="language_pie" width="300" height="300"></canvas>
			
			<ul class="color_hoge">
				<% @label.each do |label| %>
					<%=raw '<li style="background-color:#' + "#{label.last}" + ';">' + "#{label.first}" + '</li>' %>
				<% end %>
			</ul>
		</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="row">
	<div class="row-content">
		<div class="column twelve">

			<ul class="filterControl">
				<li class="filter" data-filter="all">Show All</li>
				<% @languages.each do |control| %>
					<%=raw '<li class="filter" data-filter="' + "#{control.downcase.gsub('#','')}" + '">' + "#{control}" + '</li>' %>
				<% end %>
			</ul>

			<ul id="filterGrid">
				<% @repositories.each do |filter| %>
						<%=raw '<li class="mix ' + "#{filter[:language].downcase.gsub('#','')}" + '">' %>
							<%=raw '<a href="' + "/#{params[:user_name]}/#{filter[:name]}" + '">' %>
								<% if filter[:homepage] != "not_available" then %>
									<%=raw '<img src="' + "http://s.wordpress.com/mshots/v1/#{filter[:homepage].to_s}?w=196" + '">' %>
								<% elsif %>
									<div class="thumbalt" style="background-color: #<%= @label.select { |data| data.include?(filter[:language]) }.last.last %>;"><%= filter[:language] %></div>
								<% else %>
									<%= image_tag("index_placeholder.png") %>
								<% end %>
								<h4><%= "#{filter[:name]}" %></h4>
							<%=raw '</a>' %>
						<%=raw '</li>' %>
				<% end %>
				<li class="gap"></li> <!-- "gap" elements fill in the gaps in justified grid -->
			</ul>

		</div>
	</div>
</div>

<%= render 'footer' %>

<%= javascript_tag do %>
	var data = <%=raw @pie_data.each { |data| puts data }.to_s.gsub('"', '') %>;
	var myDoughnut = new Chart(document.getElementById("languagepie").getContext("2d")).Doughnut(data);
<% end %>