<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "gittofolio" %></title>
  
    <link href="//fonts.googleapis.com/css?family=Source+Sans Pro:200italic,200,300italic,300,400italic,400,600italic,600,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "/assets/modernizr.js" %>
    <%= csrf_meta_tags %>
    
    <style type="text/css">
      /*body { margin-top: 40px; padding-bottom: 20px; }*/
      h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro'; }
      i { margin-right: 7px; color: #4ebc43 }
      .logo { letter-spacing: 3px; text-transform: uppercase; background: url("<%= asset_path 'logo_bg.png' %>"); background-size: cover; background-position: center; text-shadow: 0px 1px 3px #000; }
      .color { color: aqua; }
    </style>
  </head>

  <body>

    <div class="fixed">
      <nav class="top-bar" data-topbar data-options="is_hover: false">
        <ul class="title-area">
          <li class="name">

            <% if params[:controller] == 'welcome' %>
              <h1 class="logo"><a href="<%= root_url %>">Gittofolio</a></h1>
            <% elsif params[:controller] == 'repository' %>
              <% if @full_name != nil then %>
                <h1 class="h1_user logo"><%= @full_name.split(" ").first %><span class="change_color"><%= @full_name.split(" ").last %></span><small class="on_gittofolio"> on Gittofolio</small></h1>
              <% else %>
                <h1 class="h1_user logo"><%= params[:user_name] %><small class="on_gittofolio"> on Gittofolio</small></h1>
              <% end %>
            <% end %>

          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">

            <% if @current_user != nil %>
              <% if params[:controller] == 'repository' %>
                <li><%= link_to "Home", root_url %></li>
                <li><a href="#">Contact</a></li>
                <% if params[:user_name] == @current_user.login && params[:action] == 'detail' %><li><a href="#" data-dropdown="add_detail"><i class="fa fa-pencil-square"></i>Add Description</a></li><% end %>
              <% end %>
              <li class="has-dropdown">
                <a href="#"><i class="fa fa-user"></i><%= @current_user.name %></a>
                <ul class="dropdown">
                  <li><a href=""><i class="fa fa-gear"></i>Account Settings</a></li>
                  <li><a href=""><i class="fa fa-info-circle"></i>About Gittofolio</a></li>
                  <li><a href="/welcome/signout"><i class="fa fa-sign-out"></i>Sign out</a></li>
                </ul>
              </li>
            <% else %>
              <li class="has-form"><a href="https://github.com/login/oauth/authorize?client_id=<%= ENV['GITHUB_CLIENT_ID'] %>" class="button">Sign in</a></li>
            <% end %>

          </ul>
        </section>
      </nav>
    </div>

    <% if params[:controller] == 'repository' && params[:action] == 'detail' %>
      <div id="add_detail" data-dropdown-content class="f-dropdown content medium">
        <div class="border_bottom"><h6><i class="fa fa-pencil-square"></i>Add a comment to a repo</h6></div>
        <%= form_tag each_repo_path, method: "get" do %>
          <label>Choose repository</label>
          <%= select_tag(:repo_name, options_for_select(@repo_name_list)) %>
          <label>Title</label>
          <%= text_field_tag :header, params[:header] %>
          <label>Content</label>
          <%= text_area_tag :body, params[:body] %>
          <%= submit_tag("Add", :class => "button tiny right") %>
        <% end %>
      </div>
    <% end %>

    <div class="row yield top_padding">
      <%= yield %>
    </div>

    <hr />

    <div class="row">
      <div class="small-12 columns text-right footer">
        <ul>
          <li><a href="<%= root_url %>">Home</a></li>
          <li><a href="#">About Gittofolio</a></li>
          <li><a href="#">How-to Guide</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <p><a href="http://gittofolio.herokuapp.com">Gittofolio</a> by <a href="http://github.com/originalblend337" target="_blank">Tadashi Okazaki</a></p>
      </div>
    </div>
    


    <%= javascript_include_tag "application" %>
  </body>
</html>
