<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "gittofolio" %></title>
  <link href="//fonts.googleapis.com/css?family=Source+Sans Pro:200italic,200,300italic,300,400italic,400,600italic,600,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "/assets/modernizr.js" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="fixed">
    <nav class="top-bar" data-topbar data-options="is_hover: false">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Gittofolio</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="/<%= current_user.login %>"><i class="fa fa-tasks"></i>My Wall</a></li>
          <% if current_user %>
            <li class="has-dropdown">
              <a href="#"><i class="fa fa-user"></i><%= current_user.login %></a>
              <ul class="dropdown">
                <li><a href="/signout"><i class="fa fa-sign-out"></i>Sign Out</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
  

  <div class="row yield top_padding">
    <%= yield %>
  </div>

  <hr />

  <div class="row">
    <div class="small-12 columns text-right footer">
      <ul>
        <li><a href="#">About Gittofolio</a></li>
        <li><a href="#">How-to Guide</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <p><a href="http://gittofolio.herokuapp.com">Gittofolio</a> by <a href="http://github.com/originalblend337" target="_blank">Tadashi Okazaki</a></p>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
