<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "gittofolio" %></title>
  
    <link href="//fonts.googleapis.com/css?family=Source+Sans Pro:200italic,200,300italic,300,400italic,400,600italic,600,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    
    <style type="text/css">
      body { margin-top: 20px; }
      h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro'; }
    </style>

    <script type="text/javascript">
      $(document).ready(function() {
        $('.bodywrap').fadeIn("fast");
        $('#filterGrid').mixitup();
        $('a[rel*=leanModal]').leanModal({ closeButton: ".modal_close" });
      });
    </script>
    <script>
        $(function(){
            $(".logo").on("click", function() {
                $(".user_window").slideToggle();
                $(".pie_wrap").show();
            });
        });
    </script>
  </head>

  <body>

    <div class="fixed">
      <nav class="top-bar" data-topbar data-options="is_hover: false">
        <ul class="title-area">
          <li class="name">

            <% if params[:controller] == 'welcome' %>
              <h1><%= link_to "Gittofolio", root_url %></h1>
            <% elsif params[:controller] == 'repository' %>
              <% if @full_name != nil then %>
                <h1 class="h1_user"><%= @full_name.split(" ").first %><span class="change_color"><%= @full_name.split(" ").last %></span><small> on Gittofolio</small></h1>
              <% else %>
                <%= params[:user_name] %><span class="on_gittofolio">on Gittofolio</span>
              <% end %>
            <% end %>

          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">

            <% if @current_user != nil %>
              <% if params[:controller] == 'repository' %>
                <li><%= link_to "Home", root_url %></li>
                <li><%= link_to "My Projects", "/#{params[:user_name]}" %></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              <% end %>
              <li class="has-dropdown">
                <a href="#"><%= @current_user.name %></a>
                <ul class="dropdown">
                  <li><a href="">Account Settings</a></li>
                  <li><a href="">About Gittofolio</a></li>
                  <li><%= link_to "Sign out", welcome_signout_path %></li>
                </ul>
              </li>              
            <% else %>
              <li class="has-form"><a href="https://github.com/login/oauth/authorize?client_id=<%= ENV['GITHUB_CLIENT_ID'] %>" class="button">Sign in</a></li>
            <% end %>

          </ul>
        </section>
      </nav>
    </div>

    <div class="row">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>