<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "gittofolio" %></title>
  <link href="//fonts.googleapis.com/css?family=Source+Sans Pro:200italic,200,300italic,300,400italic,400,600italic,600,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "/assets/modernizr.js" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
  h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro'; }
  i { margin-right: 7px; }
  .logo { letter-spacing: 3px; text-transform: uppercase; background: url("<%= asset_path 'logo_bg.png' %>"); background-size: cover; background-position: center; text-shadow: 0px 1px 3px #000; }
  .color { color: aqua; }
  </style>
</head>

<body>
  <div class="fixed">
    <nav class="top-bar" data-topbar data-options="is_hover: false">
      <ul class="title-area">
        <li class="name">

          <% if params[:controller] == 'welcome' %>
          <h1 class="logo"><a href="<%= root_url %>">Gittofolio</a></h1>
          <% elsif params[:controller] == 'repository' %>
            <% if @full_name != nil then %>
            <h1 class="h1_user logo"><%= @full_name.split(" ").first %><span class="change_color"><%= @full_name.split(" ").last %></span><small class="on_gittofolio"> on Gittofolio</small></h1>
            <% else %>
            <h1 class="h1_user logo"><%= params[:user_name] %><small class="on_gittofolio"> on Gittofolio</small></h1>
            <% end %>
          <% end %>

        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">

          <% if current_user %>
            <li class="has-dropdown">
              <a href="#"><i class="fa fa-user"></i><%= current_user.name %></a>
              <ul class="dropdown">
                <li><a href=""><i class="fa fa-gear"></i>Account Settings</a></li>
                <li><a href=""><i class="fa fa-info-circle"></i>About Gittofolio</a></li>
                <li><a href="/welcome/signout"><i class="fa fa-sign-out"></i>Sign out</a></li>
              </ul>
            </li>
          <% end %>

        </ul>
      </section>
    </nav>
  </div>

  <div class="row yield top_padding">
    <%= yield %>
  </div>

  <hr />

  <div class="row">
    <div class="small-12 columns text-right footer">
      <ul>
        <li><a href="#">About Gittofolio</a></li>
        <li><a href="#">How-to Guide</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <p><a href="http://gittofolio.herokuapp.com">Gittofolio</a> by <a href="http://github.com/originalblend337" target="_blank">Tadashi Okazaki</a></p>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
