<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gittofolio</title>
  <link href="//fonts.googleapis.com/css?family=Source+Sans Pro:200italic,200,300italic,300,400italic,400,600italic,600,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  	$(document).ready(function() {
  		$('.bodywrap').fadeIn("fast");
      $('#filterGrid').mixitup();
      $('a[rel*=leanModal]').leanModal({ closeButton: ".modal_close" });
  	});
  </script>
  <script>
      $(function(){
          $(".logo").on("click", function() {
              $(".user_window").slideToggle();
              $(".pie_wrap").show();
          });
      });
  </script>

  <style type="text/css">
    body { font-family: 'Source Sans Pro'; font-weight: 300; color: white; height: auto; }
  </style>
</head>
<body>

<!-- HEADER -->
<div class="fixed_header">
  <div class="row-content">
    <div class="column six logo">
      <% if params[:controller] == 'welcome' %>
        <%= image_tag('logo.png', :height => 45, :class => "logo_img") %>
      <% elsif params[:controller] == 'repository' %>
        <% if @full_name != nil then %>
          <%= @full_name.split(" ").first %><span class="change_color"><%= @full_name.split(" ").last %></span><span class="on_gittofolio">on Gittofolio</span>
        <% else %>
          <%= params[:user_name] %>
        <% end %>
      <% end %>
    </div>
    <div class="column six right reset">
      <% if params[:controller] == 'welcome' %>
        <p class="slogan">Because my eyes get tired looking at Github</p>
      <% elsif params[:controller] == 'repository' %>
        <ul class="nav reset">
          <li><%= link_to "Repository List", "/#{params[:user_name]}" %></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<div class="clear"></div>
<!-- END -->

<div class="bodywrap">
	<%= yield %>
</div>

<!-- FOOTER -->
<% if params[:controller] != 'welcome' %>
<div class="row">
  <div class="row-content">
    <div class="column twelve footer">
      <% if session[:github_access_token] != nil && @user != nil%>
        <p class="show_login">Currently signed in as <span class="show_login_color"><%= @user.login %></span></p>
      <% end %>
      <p>Gittofolio by Tadashi Okazaki</p>
    </div>
  </div>
</div>
<% end %>
<!-- END -->

</body>
</html>