<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "gittofolio" %></title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "/assets/modernizr.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="page" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
